doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Invite Admin User
| Dear #{email}
p You have been invited to the Keble Admin. Please click on the link below to continue.
a(href=link) #{link}

